<div class="container">
    <h2>History</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Method</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of history">
                <td>{{ h.time | date:'dd.MM.yyyy. HH:mm:ss' }}</td>
                <td>{{ h.method }}</td>
                <td>{{ h.path }}</td>
            </tr>
        </tbody>
    </table>
</div>