<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a [routerLink]="'/'" class="btn btn-outline-secondary navbar-brand" aria-current="page">Home</a>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a [routerLink]="'/extraction'" class="nav-link active" aria-current="page">Entity extraction</a>
                    <a [routerLink]="'/similarity'" class="nav-link active" aria-current="page">Text similarity</a>
                    <a [routerLink]="'/detection'" class="nav-link active" aria-current="page">Language detection</a>
                    <a [routerLink]="'/analysis'" class="nav-link active" aria-current="page">Sentiment analysis</a>
                    <a [routerLink]="'/history'" class="nav-link active" aria-current="page">History</a>
                </div>
                <div class="d-flex">
                    <span></span>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container pt-3">
    <router-outlet></router-outlet>
</div>